

.dropdown{
    position:relative;
    display:inline-block;
}

.dropbtn{
    background:none;
    border:none;
    color:white;
    font-size:25px;
    cursor:pointer;
}

.dropdown-content{
    display:none;
    position:static;
    background: aqua;
    min-width:220px;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
    z-index:999;
}

.dropdown-content a{
    display:block;
    color:black;
    padding:10px;
    text-decoration:none;
    font-size: 20px;
    font-weight: bold;
}

.dropdown-content a:hover{
    background:#f1f1f1;
    color: black;
}

.show{
    display:block;
}





.nav {
  background-color: rgb(11, 1, 1);
  margin: 0px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
   gap: 200px;
   flex-wrap: nowrap;

}


body {
  max-width: 1300px;
  overflow-x: hidden;
  margin: auto;
  padding: 0;
  line-height: 1.7;
}

header {
  display: flex;
  background-color: aqua;
  align-items: center;

}

.logo {
  border-radius: 60%;
  width: 180px;
  height: 170px;
  padding: 20px;
  margin: 5px;
}

.boy {
  color: rgb(238, 8, 8);
  padding: 0;
  margin: 0;
  flex: 1;

  text-align: center;
  font-size: 60px;
  margin-top: 5px;
  padding-left: 80px;

}

.Tbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.com {
  color: black;

  position: relative;
  font-size: 40px;
  margin-top: -30px;
  text-align: center;
  margin-left: 150px;
  padding-right: 100px;
}

.foot {
  background-color: rgb(1, 11, 2);
  color: white;
  padding: 5px;
  margin-top: -15px;
  font-size: 30px;
  display: flex;
  

}

.nav a {
  font-size: 25px;
  text-decoration: none;
  color: white;
  display: flex;
 align-items: center;
 gap: 15px;

}

.container {
  display: flex;
  margin-top: 5px;




}

.containe {
  display: flex;
  max-width: 1100px;
  margin: auto;
  padding: 0;
  padding-bottom: 30px;
  padding-top: 10px;

}

.box {

  flex: 1;
  border: 5px solid red;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 10px;


}

.hb {
  color: aqua;
  background-color: blue;
  text-align: center;
  font-size: 30px;
  margin: auto;
  padding: 0;
  max-width: 1300px;

}

.lu {
  font-size: 30px;
  color: rgb(3, 3, 244);
  padding: 10px;
}

a {
  color: blue;
  text-decoration: none;

}

a:hover {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}

.bold {
  background-color: rgb(6, 243, 69);
  font-style: italic;
  color: rgb(251, 250, 252);
  position: relative;
  padding-left: 15px;
}

.bx {
  flex: 1;
  border: 5px solid red;
  padding: 0%;


  box-sizing: border-box;
  margin-left: 10px;
}

.contain {

  display: flex;
  padding-bottom: 50px;
  padding-top: 10px;


}

#Contact {
  margin-top: -50px;
  text-align: start;
  padding: 10px;
}

.bd {
  font-size: 30px;
  background-color: red;
  color: white;
  text-align: center;
}

.bc {
  font-size: 30px;
  position: relative;
  padding-left: 20px;
  font-weight: bold;
}

.dr {
  font-size: 30px;
  font-weight: bold;
  margin-left: 40px;
  color: red;
}

.foot1 {
  margin-top: -50px;
  text-align: right;
  padding: 10px;
}
.foot{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    padding:-20px;
    background-color:rgb(1, 11, 2);
    margin-top:-40px;
}

.left{
    flex:1;
}

.middle{
    flex:1;
    text-align:center;
   display: flex;
   flex-direction: column;
   margin-top: -28px;
   color:aqua;
   font-weight: bold;
  
}

.right{
    flex:1;
    text-align:right;
   

}
.rt{
  padding-bottom: 70px;
  margin-left: -100px;
}


.fg{
  font-size: 26px;
  margin-top: 50px;
   margin-left: -80px;
  color:aqua;
   font-weight: bold
 
}

.vf{
    margin-right:0;
    font-size:20px;
  
    margin-top:-20px;
     margin-left: -80px;
}
.we{
  font-size: 20px;
  margin-top: 20px;
margin-left: 80px;
  color:aqua;
   font-weight: bold
   
}
.na a{
  font-size: 20px;
  color: white;
   margin-left: -100px;
}
 
.na{
display:flex;
flex-direction:column;
justify-content: flex-start;
gap: 12px;
 margin-top: -100px;
}
@media (max-width:768px) {

  header {

    justify-content: flex-start;
    display: flex;
  }

  .logo {
    width: 80px;
    height: 80px;
    margin-top: -10px;


  }
.foot{
  flex-wrap: nowrap;
}
  .boy {
    font-size: 15px;
    padding-left: 0;
    margin-top: -px;

  }

  .com {
    font-size: 10px;
    margin: 0;
    padding: 0;
    margin-top: -10px;

  }

  .nav {


    gap: 15px;
    display: flex;
    justify-content: center;
  }

  .nav a {
    font-size: 15px;
  }

  .contain {
    flex-direction: column;
  }

  .bx {
    margin: 10px;
  }

  .lu {
    font-size: 18px;
  }

  .hb {
    font-size: 22px;
  }

  #Contact {
    text-align: center;
  }

  .foot {
    font-size: 10px;
    flex-wrap: wrap;
  }

  .vf {
    text-align: center;
    margin-left: -50px;
    font-size: 8px;
    
  }
  .na a{
    font-size: 10px;
    color: white;
     margin-left: 0px;
  }
  .we{
    font-size: 8px;
    margin-top: 20px;
}

.dropdown{
    width:100%;
}

.dropbtn{
    font-size:18px;
    padding:10px;
}

.dropdown-content{
    position:static;
    width:100%;
}


}