

.dropdown{
    position:relative;
    display:inline-block;
}

.dropbtn{
    background:none;
    border:none;
    color:white;
    font-size:25px;
    cursor:pointer;
}

.dropdown-content{
    display:none;
    position:static;
    background: aqua;
    min-width:220px;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
    z-index:999;
}

.dropdown-content a{
    display:block;
    color:black;
    padding:10px;
    text-decoration:none;
    font-size: 20px;
    font-weight: bold;
}

.dropdown-content a:hover{
    background:#f1f1f1;
    color: black;
}

.show{
    display:block;
}

.nav {
  background-color: rgb(11, 1, 1);
  margin: 0px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
   gap: 200px;
   flex-wrap: nowrap;

}


body {
 
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  line-height: 1.7;
}

header {
  display: flex;
  background-color: aqua;
  align-items: center;
  padding:  0px;

}

.logo {
  border-radius: 60%;
  width: 160px;
  height: 160px;
  padding: 20px;
  margin: 5px;
}

.boy {
  color: rgb(238, 8, 8);
  font-size: 60px;
  margin: 0;
  line-height: 1;
}

.o{
  font-size: 25px;
}
.w{
  font-size: 25px;
}


.Tbox {
 flex: 1;
  display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
  
 
  
}

.com {
  color: black;
 font-size: 28px;
margin-top: 10px;
margin: 5px 0 0 0;
line-height: 1;
 
}

.budgetco{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.icon{
  height: 77px;
  width: 77px;
  background-color: rgb(208, 243, 9);
  border-radius: 90%;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: auto;
 
}

.i{
  font-size: 20px;
}
.cardt{
 margin-top: -40px;
}
.card{
 
width: 350px;
background: #0bfec1;
  border-radius:1px;
  border: 1px solid salmon;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,.15);
  text-align: center;
  font-size: 25px;
}

.comparison-card{
    width:270px;
    padding:20px;
    border:1px solid #e5e5e5;
    border-radius:40px;
    background:#f4f7f7;
    box-shadow:0 5px 5px ;
    margin-bottom:10px;
    transition: .5s;
}
.comparison-card :hover{
  transform: translateY(-6px);
}

.title{
    display:flex;
    align-items:flex-start;
    gap:15px;
    
}
.aw{
  font-size: 20px;
}

.er{
  display: flex;
  gap: 20px;
}

.comparison-icon{
    width:55px;
    height:55px;
    border-radius:50%;
    background:#eaf3ff;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;
}

.comparison-icon i{
    color:#2563eb;
    font-size:28px;
}

.phone-name h3{
    margin:0;
    font-size:22px;
    line-height:1.3;
}

.phone-name span{
    display:block;
    margin:5px 0;
    font-weight:bold;
    color:#0c0000;
    font-size: 30px;
}

.comparison-card p{
    margin-top:18px;
    font-size:20px;
    line-height:1.6;
    color:#060101;
}

.nav a {
  font-size: 25px;
  text-decoration: none;
  color: white;
  display: flex;
 align-items: center;
 gap: 2px;

}

.container {
  width: 100%;
  margin:auto;
max-width: 1300px;
}

.containe {
  display: flex;
  max-width: 1100px;
  margin: auto;
  padding: 0;
  padding-bottom: 30px;
  padding-top: 10px;

}

.box {

  flex: 1;
  border: 5px solid red;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 10px;


}

.hb {
  color: aqua;
  background-color: blue;
  text-align: center;
  font-size: 30px;
  margin: auto;
  padding: 0;
  

}


.lu {
  font-size: 25px;
  color: rgb(3, 3, 244);
  padding: 1px;
  
}

a {
  color: rgb(1, 1, 14);
  text-decoration: none;
  

}

a:hover {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

.bold {
  background-color: rgb(6, 243, 69);
  font-style: italic;
  color: rgb(251, 250, 252);
  position: relative;
  padding-left: 15px;
}

.bx {
  flex: 1;
  border: 1px solid rgb(255, 249, 249);
  margin-top: 0px;
 box-shadow: 0 0px 40px rgba(252, 2, 2, 0.15);
  box-sizing: border-box;
  margin-left: 10px;
  margin-bottom: 30px;
}

.di{
  display: flex;
  flex-direction: column;
font-size: 18px;
  background-color: #f8faf9;
  border-radius: 10px;
}
.ui{
  border: 1px solid rgb(31, 6, 255);
  box-shadow: 0 5px 10px black;
  border-radius:0px;
  margin-top: 0;
  width: 350px;
  height: 250px;
  text-align: center;
  background-color: #e6f1c8;

}
.red{
  background-color: rgb(255, 255, 0);
  margin-right: 10px;
  font-weight: bold;
  font-size: 25px;
  border-radius: 5px;
}
.blue{
  background-color: blue;
  color: #e5e5e5;
  font-size: 25px;
  margin-right: 20px;
  border-radius: 5px;
}
.aj{
  background-color: rgba(164, 10, 247, 0.657);
  
}
.aq{
  gap: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  
}

.contain {

  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;


}

#Contact {
  margin-top: -50px;
  text-align: start;
  padding: 10px;
}

.bd {
  font-size: 30px;
  background-color: red;
  color: white;
  text-align: center;
}

.bc {
  font-size: 30px;
  position: relative;
  padding-left: 20px;
  font-weight: bold;
}

.dr {
  font-size: 30px;
  font-weight: bold;
  margin-left: 40px;
  color: red;
}

.foot1 {
  margin-top: -50px;
  text-align: right;
  padding: 10px;
}
.foot{
    display:flex;
    gap: 40px;
    justify-content:space-between;
    align-items:flex-start;
    padding:25px;
  
    background-color:rgb(1, 11, 2);
  
}

.left{
    flex:1;
    text-align: left;
}

.middle{
  flex: 1;
    text-align:center;
   display: flex;
   flex-direction: column;
  
   color:aqua;
   font-weight: bold;
  
}

.right{
    flex:1;
    display: flex;
    text-align:right;
    padding-right: 80px;
    flex-direction: column;
    padding-bottom: 0px;
   

}
.rt{
font-size: 20px;
}


.fg{
  font-size: 20px;

  text-align: center;
  color:aqua;
   font-weight: bold;
   
margin-bottom: 15px;
 
}

.vf{
   margin: 8px 0;
    font-size:18px;
   color: white;
   margin-right: 100px;

}
.we{
  font-size: 20px;
color:aqua;
   font-weight: bold
   }
.na a{
  font-size: 20px;
  color: white;
   
}
 
.na{
display: flex;
flex-direction:column;
gap: 12px;



}
@media (max-width:768px) {

  header {

  
    flex-direction: row;
  }

  .logo {
    width: 70px;
    height: 70px;
    


  }

  .boy {
    font-size: 22px;
   

  }


  .com {
    font-size: 16px;
    

  }

  .nav {

flex-direction: row;
    gap: 10px;
  display: flex;
  
  }

  .nav a {
    font-size: 18px;
  }

  .contain {
    flex-direction: column;
  }

  .bx {
    margin: 10px;
  }

  .lu {
    font-size: 18px;
  }

  .hb {
    font-size: 15px;
  }

  #Contact {
    text-align: center;
  }

  .foot {
    
  text-align: center ;
  flex-direction: column;
    display: flex;
  }
.fg{
  text-align: start;
}
  .vf {
    text-align: center;
    margin-right: 40px;
    font-size: 15px;

  }
  
  .we{
    font-size: 15px;
    margin-top: -30px;
  }
  .na{
    display: flex;
    flex-direction: row;
  
  }
 
  .na a{
    font-size: 15px;
  }

  .right{
    display: flex;
   flex-direction: column;
   margin-top: -40px;
 
   
   }
 
 .left{
  text-align: center;
 }
.middle{
  text-align: center;
}
.dropdown{
    width:100%;
}

.dropbtn{
    font-size:18px;
    padding:10px;
}

.dropdown-content{
    position:static;
    width:100%;
}




.budget{
  overflow-x: auto;
}
.er{
  overflow-x: auto;
}
.aq{
  overflow-y: auto;
  overflow-x: auto;
}
.di{
  font-size: 15px;
}
.ui{
 
  height: 350px;
}
}
  