
.dropdown{
    position:relative;
    display:inline-block;
}

.dropbtn{
    background:none;
    border:none;
    color:white;
    font-size:25px;
    cursor:pointer;
}

.dropdown-content{
    display:none;
    position:static;
    background: aqua;
    min-width:220px;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
    z-index:999;
}

.dropdown-content a{
    display:block;
    color:black;
    padding:10px;
    text-decoration:none;
    font-size: 20px;
    font-weight: bold;
}

.dropdown-content a:hover{
    background:#f1f1f1;
    color: black;
}

.show{
    display:block;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f5f5;
    line-height:1.7;
  
    
   
}
.verdict{

width: 100%;
}

.container {
  width: 100%;
  margin:auto;
max-width: 1300px;
}

h1{
    text-align:center;
    color:#222;
    margin-bottom:25px;
}

.phone-section{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
    flex-wrap:wrap;
    margin-bottom:25px;
}

.phone{
    text-align:center;
}

.phone img{
    width:220px;
   
}

.phone h2{
    margin-top:10px;
}

.vs{
    width:70px;
    height:70px;
    border-radius:50%;
    background:red;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
    font-weight:bold;
}
.red{
    color: #be08f5;
}
.intro{
    margin-bottom:20px;
    font-size: 20px;
   
}
.or{
    font-size: 25px;
}
.yu{
    text-decoration: underline;
    color: #be08f5;
}
.y{
    color:  white;
    background: black;
    font-size: 25px;
    font-weight: bold;
}
t{
    text-align: center;
}
.re{
    font-size: 22px;
}

table{
  
    border-collapse:collapse;
    margin:20px 0;
    
   
    
}
.tabl{
    
   
}

table th{
    background:#007bff;
    color:white;
    font-size: 18px;
}

table th,
table td{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

table tr:nth-child(even){
    background:#f2f2f2;
}

h2{
    margin-top:25px;
    margin-bottom:10px;
    color:#222;
}
 
.lu{
  font-size: 25px;
font-weight: bold;}
.c{
  color: #007bff;
  text-decoration: underline;
}


 .nav {
  background-color: rgb(11, 1, 1);
  margin: 0px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
   gap: 100px;
   flex-wrap: nowrap;

}
.bx {
  
  border: 1px solid rgb(255, 249, 249);
  margin-top: 0px;
 box-shadow: 0 0px 40px rgba(252, 2, 2, 0.15);
  box-sizing: border-box;
  margin-left: 10px;
  margin-bottom: 30px;
}

  .le{
    font-size: 22px;
  }
  .bx a{
    color: black;
    text-decoration: none;
    font-size: 18px;
   
  }
  
  .l{
    font-size: 22px;
    padding: 10px;
    text-align: start;
    margin-bottom: 10px;
  }
  .phonety{
  
   margin-left: 30px;
    
   
  }
  .phonety a{
    text-decoration: none;
    animation: blink 0.5s infinite;
    color: rgb(235, 4, 4);}
    @keyframes blink {
      0%,50% { 
        opacity: 0;
       }
      50%,100% {
        opacity: 1;
       }
    }
  
   
.boy {
  color: rgb(238, 8, 8);
  font-size: 60px;
  margin: 0;
  line-height: 1;
}

 .Tbox {
 flex: 1;
  display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
  }
.com {
  color: black;
 font-size: 28px;
margin-top: 10px;
margin: 5px 0 0 0;
line-height: 1;
 
}
.q{
  font-size: 25px;
    
}

 header {
  display: flex;
  background-color: aqua;
  align-items: center;
  

}
 a:hover{
  color: rgb(42, 6, 247);
  text-decoration: underline;
}
.logo {
  border-radius: 60%;
  width: 160px;
  height: 160px;
  padding: 20px;
  margin: 5px;
}

.phont{
    color: #be08f5;
    text-transform: uppercase;
    text-decoration: underline;
}
.phontt{
    color: #be08f5;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}
.phontr{
    color:#be08f5;
   font-size: 20px;
   font-weight: bold;
}
  .nav a {
  font-size: 25px;
  text-decoration: none;
  color: white;
  display: flex;
 align-items: center;
 gap: 15px;

}

 #Contact{
  margin-top: -50px;
  text-align: right;
  padding: 10px; 
 }
 .phonr{
    display: flex;
    
   font-size: 25px;
   background-color: aqua;
    
 }
 .phon{
    color: rgb(243, 243, 243);
    font-weight: bold;
    font-size: 40px;
    background-color: #01070e;
 }
.foot{
    display:flex;
    gap: 40px;
    justify-content:space-between;
    align-items:flex-start;
    padding:25px;
   
   
    background-color:rgb(1, 11, 2);
  
}

.left{
    flex:1;
    text-align: left;
}

.middle{
  flex: 1;
    text-align:center;
   display: flex;
   flex-direction: column;
  
   color:aqua;
   font-weight: bold;
  
}

.right{
    flex:1;
    display: flex;
    text-align:right;
    padding-right: 80px;
    flex-direction: column;
    padding-bottom: 0px;
   

}
.rt{
font-size: 20px;
}


.fg{
  font-size: 20px;

  text-align: center;
  color:aqua;
   font-weight: bold;
   
margin-bottom: 15px;
 
}

.vf{
   margin: 8px 0;
    font-size:18px;
   color: white;
   margin-right: 100px;

}
.we{
  font-size: 20px;
color:aqua;
   font-weight: bold
   }
.na a{
  font-size: 20px;
  color: white;
   
}
 
.na{
display: flex;
flex-direction:column;
gap: 12px;
}
.jl{
 font-size: 19px;
}

@media(max-width:768px){

    .phone-section{
        flex-direction:row;
        gap: 2px;
        
    }

    .phone img{
        width:180px;
    }



    

header {

   
    flex-direction: row;
  }

 .logo {
    width: 70px;
    height: 70px;
    


  }
  .intro{
    font-size: 14px;
  }
  .phont{
    font-size: 14px;
  }
  .phontt{
    font-size: 14px;
  }
  .tabl{
    font-size: 12px;
    overflow-x: scroll;
   overflow-y: auto;
  }
  h1{
    font-size: 17px;
  }
  .phon{
    font-size: 15px;
  }
  .vs{
     
        width:30px;
        height:30px;
       font-size: 15px;
  }
  .phontr{
    font-size: 15px;
  }
  .foot {
    
  text-align: center ;
  flex-direction: column;
    display: flex;
    overflow-x: hidden;
    
  }
.fg{
  text-align: start;
}
  .vf {
    text-align: center;
    margin-right: 40px;
    font-size: 15px;

  }
  .lu{
  font-size: 15px;
}

 
  .we{
    font-size: 15px;
    margin-top: -30px;
  }
  .na{
    display: flex;
    flex-direction: row;
  
  }
 
  .na a{
    font-size: 15px;
  }

  .right{
    display: flex;
   flex-direction: column;
   margin-top: -40px;
 
   
   }
   .q{
    font-size: 15px;
    
   }
 
 .left{
  text-align: center;
 }
.middle{
  text-align: center;
}

.boy {
    font-size: 22px;
   

  }

 .com {
    font-size: 16px;
    

  }

 .nav {

flex-direction: column;
    gap: 10px;
  display: flex;
  
 }

.nav a {
    font-size: 15px;
  }
.dropdown{
    width:100%;
}

.dropbtn{
    font-size:18px;
    padding:10px;
}

.dropdown-content{
    position:static;
    width:100%;
}
}
